{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block content %}

{% include 'pages/components/index/_banner.html' %}

{% include 'pages/components/index/_categories.html' %}

{% include 'pages/components/index/_tags.html' %}

{% include 'pages/components/index/_banner-2.html' %}

{% include 'pages/components/index/_testimonial.html' %}

{% include 'pages/components/index/_bestselling.html' %}

{% include 'pages/components/_register.html' %}

{% include 'pages/components/index/_latest-blog.html' %}

{% include 'pages/components/_service.html' %}

{% endblock content %}

